* {
	margin: 0;
	padding: 0;
	font-family: Tahoma Regular, sans-serif;
}

body {
	
	background: url(../img/fon.png) repeat-x;
	background-color: #17749d;
	/* Цвет фона, путь к фоновому изображению и повторение фона по вертикали */
   }


.wrapper {
	margin: auto;
	width: 1000px;
	height: auto;
	overflow: hidden;
	box-shadow: 0px -5px 10px 3px rgba(8,40,65,1);
	background-color: #ffffff;
	border-bottom: 3px solid black;
}


.block1 {
	position: relative;
	display: inline-block;
	width:1000px;
	height:170px;
    background-color: ffffff;
}

.img {
	position: absolute;
    bottom: 0px;
	top: 10px;
    left: 28px; 
    
	}
	
.text {
	position: absolute;
	font-size: 12px;
	top: 113px;
	left: 100px;
	color: #128aa7;
	}

.contacts{
	position: absolute;
	font-size: 12px;
	top: 10px;
	left: 835px;
	
    }
.contacts li:nth-child(1) {
	font-weight: bold;
    }
.contacts li {
    list-style-type:none;
	 }
	 
.contacts li a {
    color: #128aa7;
	text-decoration: none;
	 }
	 
	 
.navcountries {
    position: absolute;
    top: 105px;
    left: 610px
	    
	}
	
.navcountries li {

	float: left; /* выстраиваем элементы списка в один ряд */
	/*margin-right: 15px; /* делаем отступ чтобы пункты меню не сливались */
    list-style: none; /* прячем маркеры */

	}

.navcountries li a {

	display: block;
	text-align: center;
	padding-top: 45px; /* внутренний остту чтобы текст был вне фона */
	color: #128aa7;
	background-position: center top; /* выравниваем фон вверх и по центру */
	background-repeat: no-repeat;
	width: 60px; /* размеры указываем чтобы картинки полностью отобразились */
	font-size: 10px;

	}

.navcountries li a { /* хак для IE6, который иначе трактует блочную модель */
	height: 150px;
	}

.navcountries .India a {
	background-image: url(../img/i_flag.png);
	}

.navcountries .Nepal a {
	background-image: url(../img/n_flag.png);
	}

.navcountries .Tibet a {
	background-image: url(../img/t_flag.png);
	}

.navcountries .Butan a {
	background-image: url(../img/b_flag.png);
	}
	
.navcountries .Shrilanka a {
	background-image: url(../img/s_flag.png);
	}
	
.navcountries .Maldivy a {
	background-image: url(../img/m_flag.png);
	}
	
	
.navcountries li a:hover {
    color: #0000CC;
	}
	
	

	 
.Img img {
	display:block;
	margin:0 auto;
	  }
	  
.block2 {
	border: 1px solid #138aa7;
	height: 235px;
      }

.nav {
	width: 100%;
    float: left;
    margin: 0 0 0 0;
    padding: 0;
    background-color: #303030;
    border-bottom: 1px solid #303030;
    border-top: 1px solid #303030;
	box-shadow: 0px 5px 5px 0px rgba(64,64,64,1);
	
	  
	  }
	  
ul {
	display: block;
    margin: 0;
    padding: 0;
    list-style: none;
	
	  }
	  
ul:after {
    display: block;
	content: ' ';
    clear: both;
    float: none;
      }

ul.menu {
    box-shadow: 0px 5px 5px 0px rgba(64,64,64,1);
}

		  
ul.menu > li {
    float: left;
    position: relative;
	list-style: none;
	color : #303030;
	margin-left: 60px;
    	
    
	  }
	  
ul.menu > li > a:hover {
    color: #ffffff;
    background-color: #303030; }
	  
      
	  
ul.menu > li > a {
		  		  
    display: block;
    padding: 8px 0px;
    text-decoration: none;
    color: white;
	font-size: 14px;
	background-color: #303030;
	  
     }
	 
ul.menu > li > a > span {
	font-size: 8px;
	vertical-align: middle;
}
	 
	ul.submenu  {
	box-shadow: 0px 5px 5px 0px rgba(64,64,64,1);
    display: none;
    position: absolute;
    width: 150px;
    top: 31px;
    left: -5px;
    background-color: #303030;
    
     }
    ul.submenu > li {
    display: block;
     }
    ul.submenu > li > a {
    display: block;
    padding: 5px;
    color: white;
	font-size: 14px;
    background-color: #303030;
    text-decoration: none;
     }
    ul.submenu > li > a:hover {
    text-decoration: underline;
     }

    ul.menu > li:hover > ul.submenu {
    display: block;
     }
	 
	 

.content {
	width: 1000px;
	overflow: hidden;
	color: #424c43;
	text-decoration: none;
    font-size: 14px;
	text-align: center;
	line-height: 24px;
	
	 }

.leftColumn {
	width: 210px;
	float: left;
	background: #edeef0;
	padding-bottom: 20000px;
	margin-bottom: -20000px;
	border: 1px solid #c7cacf;
     }
	 
.leftColumn p:nth-child(1) {
	font-weight: bold;
	font-size: 18px;
	margin-top: 10px;
	
	 } 
	

.centerColumn {
	width: 580px;
	float: left;
	background: #ffffff;
	padding-bottom: 20000px;
	margin-bottom: -20000px;
     }

.rightColumn {
	width: 210px;
	float: right;
	background: #edeef0;
	padding-bottom: 20000px;
	margin-bottom: -20000px;
	border: 1px solid #c7cacf;
     }
	 
.rightColumn p:nth-child(1) {
	font-weight: bold;
	font-size: 18px;
	margin-top: 10px;
	
	 } 
	


.footer {
	color: #ffffff;
	padding: 10px 0;
	font-size: 12px;
	text-align: center;
	 }
	  
	 
	 
	 
	 