* {
	margin: 0;
	padding: 0;
	font-family: OpenSans Regular, sans-serif;
	
}

.border {
	margin: auto;
	width: 1366px;
	height: 950;
	
	}



.name{
	font-size: 24px;
	margin-bottom: 50px;
}

.nav {
	width: 100%;
      float: left;
      margin: 0 0 3em 0;
      padding: 0;
      background-color: #565555;
	  border: 1px solid black;
      border-bottom: 15px solid #56555;
      border-top: 15px solid #56555;
	  color: white;
	  margin-bottom: 5em;
	  }
	   #nav li {
	  list-style: none;
	  color : #565555;  
      float: left; 
	  margin: 0 70px 0 0;
	  
	  }
	  
	  #nav li a:hover {
      color: #ffffff;
      background-color: #464646; 
	  border-left: 1px solid #ffffff;
	  border-right: 1px solid #ffffff;
	  
	  }
	  
      
	  
	  #nav li a {
      display: block;
      padding: 20px 25px;
      text-decoration: none;
      color: white;
	  font-size: 14,67px;
     }
	 
.free {
	height: 8em;
}
	 
.navleft {
	/*position: relative;*/
	margin-top: 1em;
}
.navleft ul {
	width: 290px;
	font-size: 13,33px;
	list-style-type:none;
	
	
}
.navleft ul li {
	
	
					
}
    
.navleft ul a {
	            display: block;
                padding:25px 20px 25px;
                background-color: #ffffff;
				border: 1px solid #e1e1e1;
                border-top: 1px solid #e1e1e1;
                border-right: 1px solid #e1e1e1;
                border-left: 1px solid #e1e1e1;
				text-decoration: none;
                color: #333;
				
				
				
}

.navleft img {
	float: right;
	/*position: absolute;*/
	/*clip: rect(30px 165px 100px 30px);*/
	display: table-cell;width: 55%;
	border: 1px solid #e1e1e1;
	/*background-size: 65% auto;*/
	margin: 0 0 50px 0;
	padding: 60px 120px;
	
	
}

.navleft ul a:hover {
      color: #565555;
      background-color: #f9f9f9; 
	  padding-left: 40px;
	  }
	  
.text p {
	float: right;
	display: table-cell;width: 66%;
	/*margin-left: 40%;*/
	min-height: calc(40vh - 80px);
	line-height: 30px;
	font-size: 13,33px;
	text-align:left;
	padding: 1px 40px 1px 40px;
	
}

.footer  {
	  width: 100%;
      float: left;
      margin: 0 0 3em 0;
      padding: 0;
      background-color: #e1e1e1;
      border-bottom: 15px solid #e1e1e1;
      border-top: 15px solid #e1e1e1;
	  color: elelel;
	  }
	  .footer li {
	  list-style: none;
	  color : #e1e1e1;  
      float: left; 
	  margin: 0 70px 0 0;
	  }
	  
	  .footer li a:hover {
      background-color: #e1e1e1;
      text-decoration: underline;
	  }
	  
      
	  
	  .footer li a {
      display: block;
      padding: 8px 25px;
      text-decoration: none;
      color: black;
	  font-size: 13,33px;
     }
	 
	 .footer span {
		 list-style: none;
		 float: right;
		 padding: 8px 25px;
		 font-size: 13,33px;
		
	 }
	 
	 