* {
	margin: 0;
	padding: 0;
	font-family: Tahoma Regular, sans-serif;
}


body {
	background: url(../img/fon.jpg) no-repeat;
	/*background-size: 100%;*/
	background-position: center;
	height: 1028px;
}
	
}
.wrapper {
	
	margin: auto;
	width: 1210px;
	height: auto;
	overflow: hidden;
	position: relative;
	background-position: center;
	
	
	
	}
.menu {
	
    margin: 0 auto;
    padding: 0;
    position: relative;
	height:38px;
	width: 1215px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#07508e+0,085393+44,085697+100 */
    background: #07508e; /* Old browsers */
    background: -moz-linear-gradient(top,  #07508e 0%, #085393 44%, #085697 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #07508e 0%,#085393 44%,#085697 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #07508e 0%,#085393 44%,#085697 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#07508e', endColorstr='#085697',GradientType=0 ); /* IE6-9 */

}

.menuleft {
    position: absolute;
    /*top: 105px;*/
    left: 460px;
	border-right: #60b5ed 1px solid;
	padding: 0 10px;
	    
	}
	
.menuleft li {

	float: left; /* выстраиваем элементы списка в один р€д */
	list-style: none; /* пр€чем маркеры */
	

	}

.menuleft li a {

	display: block;
	text-align: center;
	/*padding-top: 45px; /* внутренний остту чтобы текст был вне фона */
	color: #60b5ed;
	background-position: center top; /* выравниваем фон вверх и по центру */
	background-repeat: no-repeat;
	font-size: 14px;
	text-decoration: none;
	padding: 10px;

	}
	
.menuleft li a:hover {
    color: #ffffff;
    background-color: #4eabda; 
	}
	
.menuright {
	position: absolute;
    left: 842px
	
}

.menuright li {
    float: left; /* выстраиваем элементы списка в один р€д */
	list-style: none; /* пр€чем маркеры */
    padding: 9px 0;	
}

.menuright li a {
	
	
	color: #ffffff;
	font-size: 14px;
	padding: 10px;
	text-decoration: none;
}
 
.menuright li:hover {
    color: #ffffff;
    background-color: #4eabda;
	background-position: center top; /* выравниваем фон вверх и по центру */
    
	}
	
.menuright li a:hover {
    color: #ffffff;
    background-color: #4eabda;
    text-decoration: underline;	
	
	}
	
.forma {
	text-align: center;
	width: 560px;
	height:612px;
	color: #ffffff;
	margin: 210px auto;
	background-repeat: no-repeat;
	
	/*position: relative;*/
	/*padding:20px;*/
	
	
}
.formapodlog {
	background-color: #1b201d;
	opacity: 0.7;
	filter:alpha(opacity=70); -moz-opacity:0.7;
	margin: 210px auto;
	background-repeat: no-repeat;
	width: 560px;
	height:612px;
	position: absolute;
	left: 50%;
    margin-left: -280px;
	
}




/*.transparency {
   
opacity:0.5;
filter:alpha(opacity=50);
-moz-opacity:0.5;
background-color:#000000;
width:100%;
height:100%;
position:absolute;
margin:-20px;
}*/




.cadastre {
	font-size: 24px;
	color: #ffffff;
	height: 60px;
	line-height: 60px;
}

.button {
		
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3b5497+0,374c8d+40,314375+100 */
background: rgb(59,84,151); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(59,84,151,1) 0%, rgba(55,76,141,1) 40%, rgba(49,67,117,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(59,84,151,1) 0%,rgba(55,76,141,1) 40%,rgba(49,67,117,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(59,84,151,1) 0%,rgba(55,76,141,1) 40%,rgba(49,67,117,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b5497', endColorstr='#314375',GradientType=0 ); /* IE6-9 */
width: 275px;
height: 35px;
margin: 0 auto;

	}

i {
	font-size: 24px;
	color: ;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3b5497+0,374c8d+40,314375+100 */
background: rgb(59,84,151); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(59,84,151,1) 0%, rgba(55,76,141,1) 40%, rgba(49,67,117,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(59,84,151,1) 0%,rgba(55,76,141,1) 40%,rgba(49,67,117,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(59,84,151,1) 0%,rgba(55,76,141,1) 40%,rgba(49,67,117,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b5497', endColorstr='#314375',GradientType=0 ); /* IE6-9 */
}

.fc {
	color: #ffffff;
}

.area {
	position: absolute;
	z-index: 1;
	text-align: center;
	width: 560px;
	height:612px;
	color: #ffffff;
	margin: auto;
	background-repeat: no-repeat;
}

fieldset {
	/*height: 430px;*/
	width: 276px;
	margin: 0 auto;
	border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
	margin-top: 20px;
}

legend {
	padding: 0 5px;
}

.styletext {
	font-size:14px;
	
	}
	p {
	 margin: 15px;	
	}
	/*input[type="checkbox"] {
		margin: 10px;
	}*/

	.Ola {
		padding: 0 4px 0;
	}
	
	
	
	.checkbox {
		display: none;
	}
	
	.checkbox-custom {
		position: relative;
	    width: 15px;
		height: 15px;
		border: 2px solid #ccc;
		border-radius: 3px;
	}
	
.checkbox-custom,
.label {
	display: inline-block;
	vertical-align: middle;
}

label {
	display: block;
	padding-right: 50px;
    padding-top: 10px;
}

/*input {
	position: absolute;
	margin-left: -16px;
}*/

.checkbox:checked + .checkbox-custom::before {
	content: "";
	display: block;
	position: absolute;
	top: 2px;
	right: 2px;
	bottom: 2px;
	left: 2px;
	background: #fff;
	border-radius: 2px;
}

	
input[type="text"] {
	box-sizing: border-box;
	border-bottom: 1px solid #474747;
	border-top: none;
	border-left: none;
	border-right: none;
	background: black;
	padding: 5px 10px;
	font-size: 14px;
	color: #ffffff;
	height: 35px;
	width: 275px;
	
	
}

input[type="text"]:hover {
	color: #ffffff;
    background-color: #1b5288;
	-webkit-box-shadow: 0px 0px 5px 2px rgba(77,136,177,1);
-moz-box-shadow: 0px 0px 5px 2px rgba(77,136,177,1);
box-shadow: 0px 0px 5px 2px rgba(77,136,177,1);
	
}

input[type="email"] {
	box-sizing: border-box;
	border-bottom: 1px solid #474747;
	border-top: none;
	border-left: none;
	border-right: none;
	background: black;
	padding: 5px 10px;
	font-size: 14px;
	color: #ffffff;
	height: 35px;
	width: 275px;
	
	
}

input[type="email"]:hover {
	color: #ffffff;
    background-color: #1b5288;
	-webkit-box-shadow: 0px 0px 5px 2px rgba(77,136,177,1);
-moz-box-shadow: 0px 0px 5px 2px rgba(77,136,177,1);
box-shadow: 0px 0px 5px 2px rgba(77,136,177,1);
	
}

.text {
	width: 275px;
}
	
.account {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#67c6e6+0,3a8ecd+44,3686ca+100 */
     background: #67c6e6; /* Old browsers */
     background: -moz-linear-gradient(top,  #67c6e6 0%, #3a8ecd 44%, #3686ca 100%); /* FF3.6-15 */
     background: -webkit-linear-gradient(top,  #67c6e6 0%,#3a8ecd 44%,#3686ca 100%); /* Chrome10-25,Safari5.1-6 */
     background: linear-gradient(to bottom,  #67c6e6 0%,#3a8ecd 44%,#3686ca 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67c6e6', endColorstr='#3686ca',GradientType=0 ); /* IE6-9 */
	 height: 35px;
	 width: 150px;
	 border: none;
	 margin-top: 20px;
	 font-size: 14px;
	 color: #ffffff;
	 border-radius: 2px;
	 
	 
}

.textt {
	font-size:11px;
}

.footer {
	
	margin-top: -80px;
	 }
	