#timer {
    width: 100%;
    height: 40px;
    margin: 0 auto;
    border-color: #8B0000;
    text-align: center;
    font-size: 40px;
    background:  #CD5C5C;
}

#milsec {
    width: 100%;
    height: 40px;
    margin: 0 auto;
    border: none;
    text-align: center;
    font-size: 25px;
    background:  #CD5C5C;
}

.btn {
    height: 50px;
    width: 150px;
}

form {
    width: 600px;
    margin: 50px auto;
}

.wrapper-button {
    width: 600px;
    display: flex;
    justify-content: center;
}

.counter {
    width: 100%;
    margin: 35px auto;
    color: #191970;
}

input {
    text-align: center;
}
